<template>
  <div>
    <Toolbar />
    <v-container grid-list-md text-xs-left pa-3>
      <v-layout row class="mt-4" justify-space-between>
        <v-flex md8>
          <ArticleContent />
        </v-flex>
        <v-flex md4>
          <SidebarNews type="trending" />
          <SidebarNews type="latest" />
        </v-flex>
      </v-layout>
    </v-container>
    <Footer />
  </div>
</template>

<script>
import Toolbar from "@/components/Toolbar";
import ArticleContent from "@/components/ArticleContent";
import SidebarNews from "@/components/SidebarNews";
import Footer from "@/components/Footer";

export default {
  components: {
    Toolbar,
    ArticleContent,
    SidebarNews,
    Footer
  },
  async created() {
    await this.$store.dispatch("user/setToken");
    if (!this.$store.getters["user/getToken"]) this.$router.push("/login");
  }
};
</script>
