<template>
  <div>
    <Toolbar />
    <v-container grid-list-md text-xs-left pa-3>
      <v-layout row class="mt-4" justify-space-between>
        <TrendingNewsWithImage />
        <v-flex md4>
          <SidebarNews type="trending" />
        </v-flex>
      </v-layout>
      <NewsGrid show="6" />
    </v-container>
    <Footer />
  </div>
</template>

<script>
import Toolbar from "@/components/Toolbar.vue";
import TrendingNewsWithImage from "@/components/TrendingNewsWithImage.vue";
import SidebarNews from "@/components/SidebarNews";
import NewsGrid from "@/components/NewsGrid";
import Footer from "@/components/Footer.vue";

export default {
  components: {
    Toolbar,
    Footer,
    TrendingNewsWithImage,
    SidebarNews,
    NewsGrid
  },
  async created() {
    await this.$store.dispatch("user/setToken");
    if (!this.$store.getters["user/getToken"]) this.$router.push("/login");
  }
};
</script>
