<template>
  <v-layout row align-center justify-center>
    <v-flex xs12 sm6 md4>
      <v-card class="pa-5">
        <div
          class="font-weight-bold darken-2 text-uppercase headline ma-5 text-center"
        >
          <span class="light-blue--text">Gits </span>
          <span class="orange--text">News</span>
        </div>
        <v-form ref="form" v-model="valid" :lazy-validation="lazy" class="mx-5">
          <v-text-field
            flat
            solo
            single-line
            :rules="emailRules"
            v-model="email"
            background-color="grey lighten-4"
            label="Email"
            type="Email"
            required
          />
          <v-text-field
            flat
            solo
            single-line
            :rules="passwordRules"
            v-model="password"
            background-color="grey lighten-4"
            label="Password"
            type="password"
            required
          />

          <v-layout justify-space-between align-center>
            <v-flex mt-1>
              <v-checkbox v-model="remember" label="Ingat saya"></v-checkbox>
            </v-flex>
            <v-flex text-right>
              <router-link to="/forgot-password">
                <span class="grey--text text--darken-1 small">
                  Lupa Password?
                </span>
              </router-link>
            </v-flex>
          </v-layout>

          <v-btn
            block
            large
            color="blue white--text"
            class="text-uppercase"
            :disabled="!valid"
            @click="login"
          >
            LOGIN
          </v-btn>

          <v-snackbar
            v-if="status === 200"
            v-model="snackbar"
            top
            right
            dark
            color="success"
            class="font-weight-bold"
          >
            Login success!
            <v-icon @click="snackbar = false">close</v-icon>
          </v-snackbar>

          <v-snackbar
            v-if="status === 401"
            v-model="snackbar"
            top
            right
            dark
            color="red"
            multi-line=""
            class="font-weight-bold"
          >
            Login failed! <br />
            Wrong user or password!
            <v-icon @click="snackbar = false">close</v-icon>
          </v-snackbar>

          <v-layout align-center justify-center class="mt-4 grey--text">
            Belum punya akun ?
            <router-link to="/register">
              <span class="blue--text font-weight-medium ml-1">
                Daftar
              </span>
            </router-link>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      lazy: false,
      email: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      ],
      password: "",
      passwordRules: [
        v => !!v || "Password is Required",
        v => v.length > 5 || "Password must be at least 6 characters"
      ],
      remember: false,
      rememberAccount: "",
      status: "",
      snackbar: true
    };
  },
  methods: {
    async login() {
      await this.$store.dispatch("user/login", {
        email: this.email,
        password: this.password,
        rememberMe: this.rememberAccount
      });
      this.status = this.$store.getters["user/getLoginStatus"];
    },
    rememberMe() {
      this.remember = 1;
    }
  },
  watch: {
    status(val) {
      // if (val === 200) window.location.href = "/";
      if (val === 200) this.$router.push({ path: "/" });
    },
    remember(val) {
      val ? (this.rememberAccount = 1) : (this.rememberAccount = "");
    }
  }
};
</script>

<style>
a {
  text-decoration: none;
}
</style>
