<template>
  <div>
    <Toolbar />
    <v-container grid-list-md text-xs-left pa-3>
      <v-layout row class="mt-4" justify-space-between>
        <router-view />
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Toolbar from "@/components/Toolbar.vue";

export default {
  components: {
    Toolbar
  }
};
</script>
