<template>
  <v-layout row align-center justify-center>
    <v-flex xs12 sm6 md4>
      <v-card
        :class="[
          status === ''
            ? 'hidden-sm-and-down hidden-sm-and-up'
            : 'pa-5 text-center'
        ]"
      >
        {{ message }}
        <router-link
          v-if="status === 201"
          to="/login"
          class="blue--text font-weight-bold"
        >
          Login
        </router-link>
        <div v-else @click="tryAgain" class="blue--text font-weight-bold">
          Try Again
        </div>
      </v-card>
      <v-card
        :class="[
          status === '' ? 'pa-5' : 'hidden-sm-and-down hidden-sm-and-up'
        ]"
      >
        <div
          class="font-weight-bold darken-2 text-uppercase headline ma-5 text-center"
        >
          <span class="light-blue--text">Gits </span>
          <span class="orange--text">News</span>
        </div>
        <v-form ref="form" v-model="valid" :lazy-validation="lazy" class="mx-5">
          <v-text-field
            flat
            solo
            :counter="30"
            :rules="nameRules"
            v-model="name"
            background-color="grey lighten-4"
            label="Name"
            type="text"
            class="pt-5"
            required
          />
          <v-text-field
            flat
            solo
            single-line
            :rules="emailRules"
            v-model="email"
            background-color="grey lighten-4"
            label="Email"
            type="Email"
            required
          />
          <v-text-field
            flat
            solo
            single-line
            :rules="passwordRules"
            v-model="password"
            background-color="grey lighten-4"
            label="Password"
            type="password"
            required
          />
          <v-text-field
            flat
            solo
            single-line
            :rules="confirmPasswordRules"
            v-model="confirmPassword"
            background-color="grey lighten-4"
            label="Confirm Password"
            type="password"
            required
          />

          <v-btn
            block
            large
            color="blue white--text"
            class="text-uppercase"
            :disabled="!valid"
            @click="register"
          >
            Register
          </v-btn>

          <v-layout align-center justify-center class="mt-4 grey--text">
            Sudah punya akun ?
            <router-link to="/login">
              <span class="blue--text font-weight-medium ml-1">
                Masuk
              </span>
            </router-link>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      lazy: false,
      name: "",
      nameRules: [
        v => !!v || "Name is required",
        v => (v && v.length <= 30) || "Name must be less than 30 characters"
      ],
      email: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      ],
      password: "",
      passwordRules: [
        v => !!v || "Password is Required",
        v => v.length > 5 || "Password must be at least 6 characters"
      ],
      confirmPassword: "",
      confirmPasswordRules: [
        v => !!v || "Password Confirmation is Required",
        v => (v.length > 5 && v === this.password) || "Password not same"
      ],
      message: "",
      status: ""
    };
  },
  methods: {
    async register() {
      await this.$store.dispatch("user/registerUser", {
        name: this.name,
        email: this.email,
        password: this.password,
        confirmPassword: this.confirmPassword
      });

      this.status = this.$store.getters["user/getRegistrationStatus"];
      this.message = this.$store.getters["user/getRegistrationMessage"];
    },
    tryAgain() {
      this.message = "";
      this.status = "";
    }
  }
};
</script>

<style>
a {
  text-decoration: none;
}
</style>
