<template>
  <div>
    <Toolbar />
    <v-container grid-list-md text-xs-left pa-3>
      <NewsGrid show="15" />
    </v-container>
    <Footer />
  </div>
</template>

<script>
import Toolbar from "@/components/Toolbar.vue";
import NewsGrid from "@/components/NewsGrid";
import Footer from "@/components/Footer.vue";

export default {
  components: {
    Toolbar,
    NewsGrid,
    Footer
  },
  async created() {
    await this.$store.dispatch("user/setToken");
    if (!this.$store.getters["user/getToken"]) this.$router.push("/login");
  }
};
</script>
