<template>
  <v-layout row class="mb-5 mr-5">
    <h3 class="display-1 font-weight-bold mt-2 grey--text text--darken-3">
      {{ article.title }}
    </h3>
    <v-img
      :src="article.image_url === null ? noImage : article.image_url"
      class="my-4"
      max-height="400"
      contain
    />
    <article block>{{ article.body }}</article>
    <!-- <article>{{ article.content }}</article> -->
  </v-layout>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      article: ""
    };
  },
  watch: {
    $route(val) {
      this.article = this.$store.getters["articles/detailArticle"](
        val.params.article
      );
    }
  },
  async created() {
    window.addEventListener(
      "beforeunload",
      (await this.$store.dispatch("articles/trendingArticles"),
      await this.$store.dispatch("articles/latestArticles"))
    );

    const url = this.$route.params.article;
    this.article = this.$store.getters["articles/detailArticle"](url);
  },
  computed: {
    ...mapState("articles", ["noImage"])
  }
};
</script>
