<template>
  <v-container grid-list-md text-xs-left pa-3>
    <v-layout row class="mt-4">
      <TrendingNewsWithImage />
      <SidebarNews />
    </v-layout>
    <NewsGrid show="6" />
  </v-container>
</template>

<script>
import TrendingNewsWithImage from "@/components/TrendingNewsWithImage.vue";
import SidebarNews from "@/components/SidebarNews";
import NewsGrid from "@/components/NewsGrid";

export default {
  components: {
    TrendingNewsWithImage,
    SidebarNews,
    NewsGrid
  }
};
</script>
