<template>
  <v-footer dark height="auto" class="blue">
    <v-container class="px-5">
      <v-layout justify-space-between class="my-4">
        <v-flex xs12 sm4 md2>
          <h3 class="suheading text-uppercase mb-2">Contact Us</h3>
          <div class="caption my-1">+62 22 87507720</div>
          <div class="caption my-1">connect@gits.id</div>
          <div class="caption my-1">
            Jl. Margacinta No.29 <br />
            Bandung 40287
          </div>
        </v-flex>
        <!-- <v-flex xs12 sm4 md2>
          <h3 class="suheading text-uppercase mb-2">Popular Sources</h3>
          <div
            v-for="(source, i) in topSources.slice(0, 4)"
            :key="i"
            class="caption my-1 text-capitalize"
          >
            {{ source }}
          </div>
        </v-flex> -->
        <v-spacer />
        <v-flex xs12 sm4 justify-end>
          <h3 class="suheading mb-2">Subscribe to GITS newsletter via email</h3>
          <span class="grey--text text--lighten-2">
            Subscribe now and stay updated!
          </span>
          <v-layout row class="mt-3">
            <v-flex class="mt-1 ml-3 mr-3">
              <v-text-field
                label="Email address"
                outlined
                class="custom-text-field"
              />
            </v-flex>
            <v-flex class="mt-1">
              <v-btn
                large
                depressed
                dark
                color="orange"
                class="text-capitalize"
              >
                Subscribe
              </v-btn>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-footer>
</template>

<script>
// import { mapState } from "vuex";

export default {
  // created() {
  //   this.$store.dispatch("articles/trendingArticles");
  // },
  // computed: {
  //   ...mapState("articles", ["topSources"])
  // }
};
</script>

<style>
.custom-text-field > .v-input__control > .v-input__slot {
  min-height: 45px !important;
}

.custom-text-field
  > .v-input__control
  > .v-input__slot
  > .v-text-field__slot
  > label {
  top: 13px !important;
}
</style>
