<template>
  <v-flex xs12>
    <v-card class="mx-4">
      <v-card-title>
        <v-layout justify-space-between>
          <v-flex>
            My Posts
          </v-flex>
          <v-flex class="text-right">
            <v-btn dark color="blue" @click="newPost">New Post</v-btn>
          </v-flex>
        </v-layout>
      </v-card-title>
      <v-divider class="pb-5" />
      <v-list-item v-for="(post, index) in myPosts" :key="index">
        <v-list-item-content class="pt-0">
          <v-layout class="pb-5 pt-2">
            <v-flex xs8>
              {{ post.title }}
            </v-flex>
            <v-spacer />
            <v-layout xs4 class="text-right mr-1">
              <v-flex>
                Edit
              </v-flex>
              <v-flex>
                Delete
              </v-flex>
            </v-layout>
          </v-layout>
          <v-divider v-if="index != myPosts.length - 1" />
        </v-list-item-content>
      </v-list-item>
    </v-card>
  </v-flex>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      page: 1,
      myPosts: []
    };
  },

  async mounted() {
    await this.$store.dispatch("articles/latestArticles", "&page=" + this.page);
    for (this.page; this.page <= this.totalPage; this.page++) {
      const posts = this.getMyPosts(this.page);
    }
  },

  methods: {
    newPost() {
      this.$router.push({ name: "newPost" });
    },

    async getMyPosts(page) {
      await this.$store.dispatch("articles/latestArticles", "&page=" + page);
      this.$store.dispatch("user/setUser");
      const id = this.$store.getters["user/getId"];
      const posts = this.$store.getters["articles/getArticlesByUser"](id);
      if (posts.length > 0) {
        for (let i = 0; i < posts.length; i++) {
          this.myPosts.push(posts[i]);
        }
      }
    }
  },

  computed: {
    ...mapGetters({
      latest: "articles/getLatest",
      totalPage: "articles/getTotalPage"
    })
  }
};
</script>
