<template>
  <v-flex xs12>
    <v-card class="mx-4">
      <v-card-title class="pb-4">
        <v-layout justify-space-between>
          <v-flex>
            <v-btn depressed @click="back">
              <v-icon left>arrow_back_ios</v-icon> Back
            </v-btn>
          </v-flex>
          <v-flex class="text-right"> </v-flex>
        </v-layout>
      </v-card-title>
      <v-divider class="pb-3" />
      <v-list-item>
        <v-list-item-content class="pb-0">
          <v-layout column>
            <v-flex>
              <v-text-field
                prepend-icon="title"
                label="Title"
                v-model="title"
                outlined
              ></v-text-field>
            </v-flex>
            <v-flex>
              <v-file-input
                small-chips
                outlined
                label="Post Image"
                prepend-icon="mdi-image"
                v-model="image"
              >
              </v-file-input>
            </v-flex>
            <v-flex>
              <v-textarea
                outlined
                auto-grow
                label="Content"
                prepend-icon="create"
                v-model="content"
              />
            </v-flex>
          </v-layout>
        </v-list-item-content>
      </v-list-item>
      <v-card-actions class="mx-2 pb-5">
        <v-spacer></v-spacer>
        <v-btn
          large
          class="blue white--text"
          :disabled="disabled"
          @click="publish"
        >
          Publish
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  data() {
    return {
      title: "",
      image: [],
      content: ""
    };
  },

  methods: {
    back() {
      this.$router.go(-1);
    },

    async publish() {
      const formData = new FormData();
      formData.append("title", this.title);
      formData.append("body", this.content);
      formData.append("image", this.image);
      await this.$store.dispatch("articles/publishPost", formData);

      this.$router.push({ name: "posts" });
    }
  },

  computed: {
    disabled() {
      return this.title == "" || this.image == [] || this.content == "";
    }
  }
};
</script>
