<template>
  <v-flex column class="mt-4">
    <v-layout justify-space-between align-center class="mx-2">
      <h2 class="headline text-uppercase font-weight-medium">
        {{ pageType }} News
      </h2>
      <v-spacer></v-spacer>
      <router-link to="/latest" v-if="!showSeeAll">
        <span class="body-2 right font-weight-bold">See All</span>
      </router-link>
    </v-layout>
    <v-divider class="blue p-1 my-3" />
    <v-layout row wrap>
      <v-flex xs12 sm6 v-for="(article, i) in articles" :key="i">
        <router-link
          :to="article.user.id + `/` + article.slug"
          class="no-underline"
        >
          <v-hover>
            <v-card
              height="375"
              class="ma-2"
              slot-scope="{ hover }"
              :class="`elevation-${hover ? 12 : 2}`"
            >
              <v-img
                :src="article.image_url === null ? noImage : article.image_url"
                aspect-ratio="2.75"
              >
                <v-container fill-height fluid class="pa-0">
                  <v-layout fill-height align-end>
                    <v-flex xs12 align-end flexbox>
                      <router-link :to="article.user.id.toString()">
                        <span
                          class="subheading font-weight-medium white orange--text py-2 px-3"
                        >
                          {{ article.user.name }}
                        </span>
                      </router-link>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-img>
              <v-card-title primary-title="">
                <div>
                  <h3 class="title mb-2">
                    {{
                      article.title.length >= 100
                        ? article.title.slice(0, 100) + "..."
                        : article.title
                    }}
                  </h3>
                  <div class="caption">
                    {{
                      article.body.length >= 200
                        ? article.body.slice(0, 200) + "..."
                        : article.body
                    }}
                  </div>
                </div>
              </v-card-title>
            </v-card>
          </v-hover>
        </router-link>
      </v-flex>
    </v-layout>
    <div v-if="isNotHome" class="text-center">
      <v-pagination v-model="page" :length="pagination"></v-pagination>
    </div>
  </v-flex>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  props: ["show"],
  data() {
    return {
      articles: "",
      currentPage: "&page=1",
      page: 1
    };
  },

  async created() {
    this.$route.path === "/trending"
      ? await this.$store.dispatch(
          "articles/trendingArticles",
          this.currentPage
        )
      : await this.$store.dispatch("articles/latestArticles", this.currentPage);

    if (this.$route.name == "trending")
      this.articles = await this.trending.slice(0, this.show);
    if (this.$route.name == "latest" || this.$route.name == "home") {
      this.articles = await this.latest.slice(0, this.show);
    }
    if (this.$route.name == "newsByUser") {
      const id = this.$route.params.user;
      this.articles = await this.$store.getters["articles/getArticlesByUser"](
        id
      );
    }
  },

  computed: {
    ...mapGetters({
      latest: "articles/getLatest",
      trending: "articles/getTrending",
      totalPage: "articles/getTotalPage"
    }),
    ...mapState("articles", ["noImage"]),

    showSeeAll() {
      return (
        this.$route.path === "/latest" ||
        this.$route.path === "/trending" ||
        this.$route.params.user
      );
    },

    pageType() {
      if (this.$route.name == "trending") return "Trending";
      if (this.$route.name == "latest" || this.$route.name == "home")
        return "Latest";
      if (this.$route.name == "newsByUser") {
        let id = this.$route.params.user;
        let author = this.$store.getters["articles/getAuthor"](id);
        return author;
      }
      return "No";
    },

    isNotHome() {
      return this.$route.name !== "home";
    },

    pagination() {
      return this.totalPage == "" ? 1 : Number(this.totalPage);
    }
  },
  watch: {
    async page(val) {
      const type = this.$route.name;
      if (type == "trending") {
        await this.$store.dispatch("articles/trendingArticles", "&page=" + val);
        window.scrollTo({
          top: 0,
          left: 0,
          behavior: "smooth"
        });
        this.articles = this.trending;
      }

      if (type == "latest") {
        await this.$store.dispatch("articles/latestArticles", "&page=" + val);
        window.scrollTo({
          top: 0,
          left: 0,
          behavior: "smooth"
        });
        this.articles = this.latest;
      }

      // if (type == "newsByUser") {
      //   let articles = [];
      //   const id = this.$route.params.user;
      //   let article = this.$store.getters["articles/getArticlesByUser"](id);
      //   articles.push(article);
      // }
    }
  }
};
</script>
