<template>
  <v-flex class="pl-5 mb-5">
    <v-layout column>
      <v-layout justify-space-between align-center>
        <v-flex
          class="headline text-uppercase font-weight-medium grey--text text--darken-3"
        >
          {{ type }} News
        </v-flex>
        <router-link :to="`/` + type">
          <v-flex
            class="body-2 font-weight-medium text-capitalize text-md-right"
          >
            See All
          </v-flex>
        </router-link>
      </v-layout>
      <v-divider class="blue p-1 my-3" />

      <v-flex
        v-for="(article, i) in type === 'trending'
          ? trending.slice(0, 4)
          : latest.slice(0, 4)"
        :key="i"
      >
        <v-layout class="py-3">
          <router-link
            :to="article.user.id + `/` + article.slug"
            class="no-underline"
            @click.native="toArticle"
          >
            <v-img
              :src="article.image_url === null ? noImage : article.image_url"
              height="80"
              width="80"
            />
          </router-link>
          <v-flex class="ml-3 pt-0">
            <router-link
              :to="article.user.id + `/` + article.slug"
              class="no-underline"
              @click.native="toArticle"
            >
              <h3 class="body-2 font-weight-bold grey--text text--darken-3">
                {{
                  article.title.length > 100
                    ? article.title.slice(0, 100) + "..."
                    : article.title
                }}
              </h3>
            </router-link>

            <h4
              class="body-2 font-weight-medium grey--text mt-1 text-capitalize"
            >
              {{ article.user.name }}
            </h4>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  props: ["type"],
  data() {
    return {
      page: "&page=1"
    };
  },
  created() {
    this.$store.dispatch(`articles/${this.type}Articles`, this.page);
  },
  methods: {
    toArticle() {
      const url = this.$route.params.article;
      this.$store.getters["articles/detailArticle"](url);
    }
  },
  computed: {
    ...mapGetters({
      trending: "articles/getTrending",
      latest: "articles/getLatest"
    }),
    ...mapState("articles", ["noImage"])
  }
};
</script>
