<template>
  <v-toolbar>
    <v-container>
      <v-toolbar flat>
        <v-toolbar-title class="mr-5">
          <router-link to="/">
            <v-img
              alt="Vuetify Logo"
              src="http://gits.co.id/img/logo.png"
              contain
              transition="scale-transition"
              height="50px"
              width="50px"
              class="mr-3"
            />
          </router-link>
        </v-toolbar-title>
        <v-toolbar-items>
          <v-btn
            text
            class="btn-active grey--text text--darken-2 font-weight-bold text-capitalize"
          >
            Link 1
          </v-btn>
          <v-btn
            text
            class="grey--text text--darken-2 font-weight-bold text-capitalize"
          >
            Link 2
          </v-btn>
        </v-toolbar-items>

        <v-spacer></v-spacer>

        <template v-if="$vuetify.breakpoint.smAndUp">
          <template v-if="isLogin">
            <v-toolbar-items>
              <v-menu offset-y>
                <template v-slot:activator="{ on }">
                  <v-btn
                    depressed
                    color="white"
                    dark
                    v-on="on"
                    class="text-capitalize grey--text text--darken-3 font-weight-bold"
                  >
                    {{ user.name }}
                  </v-btn>
                </template>
                <v-list min-width="150" class="custom-dropdown-menu">
                  <v-list-item @click="toMyPosts">
                    <v-list-item-title>
                      My Posts
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="toSettings">
                    <v-list-item-title>
                      Settings
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="logout">
                    <v-list-item-title>
                      Logout
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-toolbar-items>
          </template>

          <!-- <template v-else>
            <v-btn depressed fab dark small color="orange" class="mx-2">
              <v-icon dark>search</v-icon>
            </v-btn>

            <router-link to="/register">
              <v-btn
                rounded
                depressed
                dark
                small
                color="blue"
                class="mx-2 px-5 text-capitalize"
              >
                Daftar
              </v-btn>
            </router-link>

            <router-link to="/login">
              <v-btn
                rounded
                outlined
                small
                color="blue"
                class="mx-2 text-capitalize  blue--text px-5"
              >
                Masuk
              </v-btn>
            </router-link>
          </template> -->
        </template>
      </v-toolbar>
    </v-container>
  </v-toolbar>
</template>

<script>
export default {
  data() {
    return {
      search: false,
      isLogin: false,
      user: {}
    };
  },
  async created() {
    await this.$store.dispatch("user/setToken");
    if (this.$store.getters["user/getToken"]) {
      await this.$store.dispatch("user/setUser");
      this.user = this.$store.getters["user/getUser"];
      this.isLogin = true;
    }
  },
  methods: {
    toMyPosts() {
      this.$router.push("/posts");
    },
    toSettings() {
      this.$router.push("/settings");
    },
    async logout() {
      await this.$store.dispatch("user/logout");
      this.isLogin = false;
      this.$router.push("/login");
    }
  }
};
</script>

<style>
.btn-active {
  background: #f7f7f7 !important;
  border-bottom: 3px solid #0084ff !important;
}

.custom-dropdown-menu {
  right: 0;
}
</style>
