<template>
  <v-flex xs8 md8>
    <v-card>
      <v-carousel interval="5000" hide-delimiters>
        <router-link
          v-for="(article, i) in trending.slice(0, 4)"
          :key="i"
          :to="`/` + article.user.id + '/' + article.slug"
          class="no-underline"
        >
          <v-carousel-item
            :src="article.image_url === null ? noImage : article.image_url"
          >
            <v-container fill-height dark>
              <v-layout align-end justify-start>
                <v-flex background="grey">
                  <h2
                    :class="[
                      article.image_url === null
                        ? 'grey--text text--darken-3'
                        : 'white--text'
                    ]"
                    class="border-headline-image px-4 py-3  headline font-weight-bold"
                  >
                    {{ article.title }}
                  </h2>
                </v-flex>
              </v-layout>
            </v-container>
          </v-carousel-item>
        </router-link>
      </v-carousel>
    </v-card>
  </v-flex>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  data() {
    return {
      page: "&page=1"
    }
  },
  created() {
    this.$store.dispatch("articles/trendingArticles", this.page);
  },
  computed: {
    ...mapGetters({ trending: "articles/getTrending" }),
    ...mapState("articles", ["noImage"])
  }
};
</script>
