<template>
  <v-app background="white">
    <router-view />
  </v-app>
</template>

<script>
export default {
  name: "App",
  components: {},
  data() {
    return {};
  }
};
</script>

<style>
.no-underline {
  text-decoration: none !important;
}
a {
  color: unset !important;
}
</style>
